<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
</head>
<body>
    <h1>Inventory</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Grade</th>
            <th>Machine</th>
            <th>Réseau</th>
            <th>Adresse MAC</th>
            <th>Numéro Bureau</th>
            <th>Étage</th>
            <!-- Ajouter une colonne pour les actions -->
            <th>Actions</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry[0] }}</td>
            <td>{{ entry[1] }}</td>
            <td>{{ entry[2] }}</td>
            <td>{{ entry[3] }}</td>
            <td>{{ entry[4] }}</td>
            <td>{{ entry[5] }}</td>
            <td>{{ entry[6] }}</td>
            <td>{{ entry[7] }}</td>
            <td><a href="{{ url_for('delete_entry', id=entry[0]) }}">Supprimer</a></td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>
