<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Résultats de la recherche</title>
</head>
<body>
    <h1>Résultats de la recherche</h1>
    <p>Résultats pour la recherche "{{ query }}" :</p>
    <ul>
        {% if entries %}
            {% for entry in entries %}
                <li>{{ entry[1] }} - {{ entry[2] }} - {{ entry[3] }}- {{ entry[4] }} - {{ entry[5] }} - {{ entry[6] }} - {{ entry[7] }}</li>
            {% endfor %}
        {% else %}
            <li>Aucun résultat trouvé</li>
        {% endif %}
    </ul>
</body>
</html>
